In [1]:
import pandas

In [19]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
ser=[ 4, 8, 15, 16, 23, 42]
series=pandas.Series(ser)
series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [9]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on thevariable print it.
lis=[1,2,3,4,5,6,7,8,9,0]
liss=pandas.Series(lis)
liss

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9    0
dtype: int64

In [13]:
#Q3. Create a Pandas DataFrame that contains the following data:Then, print the DataFrame.
dict={'Name':['Alice','Bob','Claire'] ,'Age':[25,30,27],'Gender':['Female','Male','Female']}
df=pandas.DataFrame(dict)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [15]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
import logging
logging.basicConfig(filename='Assignment9',level=logging.DEBUG)
logging.info('Pandas dataframe is 2-dimensional wheras series is one dimensional , dataframe can be homogeneous wheras series is always homogeneous. We cant change size of seriea but we can change size of dataframe.')
print('Pandas dataframe is 2-dimensional wheras series is one dimensional , dataframe can be homogeneous wheras series is always homogeneous. We cant change size of seriea but we can change size of dataframe.')

Pandas dataframe is 2-dimensional wheras series is one dimensional , dataframe can be homogeneous wheras series is always homogeneous. We cant change size of seriea but we can change size of dataframe.

In [16]:
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?
logging.info('We can use many functions like info , isna to check null points , columns , head,delete')

In [17]:
#Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
logging.info('Except series all dataframe in pandas is mutable. that is dataframe and panel is mutable.')

In [20]:
#Q7. Create a DataFrame using multiple Series. Explain with an example.
ser1=[1,2,3,4,5,6,7,8,9,10]
ser2=[10,9,8,7,6,5,4,3,2,1]
ser3=[5,8,9,6,2,4,8,3,5,9]
serr1=pandas.Series(ser1)
serr2=pandas.Series(ser2)
serr3=pandas.Series(ser3)
df=pandas.DataFrame(serr1,serr2,serr3)

ValueError: Shape of passed values is (10, 1), indices imply (10, 10)